html{
	width: 100%;
	height: 100%;
}
body{
	width: content-box;
	height: 100%;
	background-color: #1B1D21;
}
/* mon en-tete start*/
header{
	width: content-box;
	height: content-box;
	border-bottom: solid 2px lightgrey;
	position: sticky;
	top: 0;	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	z-index: 5;
	background-color: #1B1D21;
}
div#hgauche{
	width: 35%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: flex-start;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 1px;
}
div#hdroite{
	width: 65%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	overflow: hidden;
}
img{
	width: 20%;
	height: 6vw;
	margin: 0 0 0 1.5%;
}
.tt{
	margin: 0 0 0 2%;
	font-size: 2.2vw;
	text-decoration: none;
	font-family: 'Lobster', cursive;
}
.white{
	color: whitesmoke;
}
header a{
	height: 100%;
}
div.liste{
	margin-right: 0;	
	width: content-box;
	height: content-box;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-end;
	white-space: nowrap;
}
div.liste .lt{
	font-size: 1.6vw;
	text-decoration: none;	
	margin: 0 0 0 1%;
	font-family: 'Vollkorn', serif;
}
img.ilt{
	width: 15%;
	height: 1.7vw;
	margin: 0 5%;
}
.ac{
	margin-top: auto;
	margin-bottom: auto;
}
	
img.iltt{
	width: 14%;
	height: 1.7vw;
	margin: auto 5% 0;
}	

img.ilttt{
	width: 13%;
	height: 1.7vw;
	margin: 0 3%;
}
img.iltttt{
	width: 27%;
	height: 1.7vw;
	margin: 0 5%;
}
a:hover{
	filter: invert(30%)
}

div.img{
	margin-right: 9%;	
	width: 100%;
}
/* mon en-tete end*/

/* Votre style et avis start*/
div.mainstyle{
	height: content-box;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
div.style{
	width: content-box;
}
div.ban{
	width: 5%;
	margin: 0 1.5% 0 1.5%;
	display: flex;
	align-content: center;
}
div.banie{
	background-color: whitesmoke;
	width: 100%;
	height: 2px;
	margin: auto 0;
}
.st{
	font-family: 'Eczar', serif;
	text-shadow: 5px 0 0 black;
	font-size: 2.3vw;
}
/* Votre style et avis end*/
/* prise de rdv start*/
div#mainrdv{
	width: 100%;
	height: content-box;
	display: flex;
	justify-content: center;
	margin-top: 4vw;
}
div.form{
	border: thick double #8D2F11;
	background-color: #28292C;
	height: content-box;
	width: content-box;
	position: relative;
}
div.effect{

	 /*-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;    
    backface-visibility: hidden;
}
.back {
	position: absolute;
    color: whitesmoke;
    text-align: center;
    font-size: 1.5vw;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);    
	background-color: #17181B;
    border: 3px solid #8D2F11;
    border-radius: 50px;
    height: 12%;
    width: 30%;
    text-align: center;
    padding-top: 5%;
    margin-top: 2.5%;
    font-family: 'Luxurious Roman', cursive;
}
div.form input{
	width: 20vw;
	height: 3vw;
	margin: 1vw;
	background-color: #2B2C2F;
	border: none;
	border-bottom: solid #4D4D4D;
	text-align: center;
	color: #999797;
	font-size: 1.5vw;
}
div.form input::placeholder{
	color: #999797;
}
input:invalid {
	border-bottom: solid #2C120A;
}
input#parag{
	width: 95%;
	height: 4vw;
	text-overflow: ellipsis;
}
/*input:focus > .front{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);    
}
input:focus > .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);    
    transform: rotateY(0deg);
}*/
/*---------------------------------------------*/
