html{
	width: 100%;
	height: 100%;
}
body{
	width: content-box;
	height: 100%;
	background-color: #1B1D21;
}
/* mon en-tete start*/
header{
	width: content-box;
	height: content-box;
	border-bottom: solid 2px lightgrey;
	position: sticky;
	top: 0;	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	z-index: 5;
	background-color: #1B1D21;
}
div#hgauche{
	width: 35%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: flex-start;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 1px;
}
div#hdroite{
	width: 65%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	overflow: hidden;
}
img{
	width: 20%;
	height: 6vw;
	margin: 0 0 0 1.5%;
}
.tt{
	margin: 0 0 0 2%;
	font-size: 2.2vw;
	text-decoration: none;
	font-family: 'Lobster', cursive;
}
.white{
	color: whitesmoke;
}
header a{
	height: 100%;
}
div.liste{
	margin-right: 0;	
	width: content-box;
	height: content-box;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-end;
	white-space: nowrap;
}
div.liste .lt{
	font-size: 1.6vw;
	text-decoration: none;	
	margin: 0 0 0 1%;
	font-family: 'Vollkorn', serif;
}
img.ilt{
	width: 15%;
	height: 1.7vw;
	margin: 0 5%;
}
.ac{
	margin-top: auto;
	margin-bottom: auto;
}
	
img.iltt{
	width: 14%;
	height: 1.7vw;
	margin: auto 5% 0;
}	

img.ilttt{
	width: 13%;
	height: 1.7vw;
	margin: 0 3%;
}
img.iltttt{
	width: 27%;
	height: 1.7vw;
	margin: 0 5%;
}
a:hover{
	filter: invert(30%)
}

div.img{
	margin-right: 9%;	
	width: 100%;
}
/* mon en-tete end*/

/* Votre style et avis start*/
div.mainstyle{
	height: content-box;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
div.style{
	width: content-box;
}
div.ban{
	width: 5%;
	margin: 0 1.5% 0 1.5%;
	display: flex;
	align-content: center;
}
div.banie{
	background-color: whitesmoke;
	width: 100%;
	height: 2px;
	margin: auto 0;
}
.st{
	font-family: 'Eczar', serif;
	text-shadow: 2px 0 0 black;
	font-size: 2.3vw;
}
/* Votre style et avis end*/

/* horaire start*/
div#mainhor{
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	margin-top: 4vw;
}
div.sdmain{
	width: 18%;
	height: 100%;

	display: flex;
	flex-direction: row;
}
div.day{
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	color: whitesmoke;
	font-size: 1.5vw;
}
div.time{
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	color: whitesmoke;
	font-size: 1.5vw;
}
div.day p{
	margin-top: 2%;
}
div.time p{
	margin-top: 2%;
	margin-left: auto;
}
/* horaire end*/

/* tarifs start*/
div#maintarif{
	width: 100%;
	height: content-box;
	display: flex;
	justify-content: center;
	margin-top: 4vw;
}
div.sdmaint{
	width: 40%;
	height: content-box;
	display: flex;
	flex-direction: column;
	padding: 2%;
}
div.coupe{
	width: 100%;
	height: 20%;
}
div.lisage{
	width: 100%;
	height: 20%;
	margin-left: auto;
	margin-top: 8%;
	text-align: right;

}
div.color{
	width: 100%;
	height: 20%;
	margin-top: 8%;
}
div.special{
	width: 70%;
	height: 20%;
	margin: 5% auto 0 auto;
	text-align: justify;
	line-height: 2.5vw;
}
div.maint{
	display: flex;
	flex-direction: column;
}
em.dro{
	font-size: 1.4vw;
	color: whitesmoke;
	margin-bottom: 2.5%;
	margin-left: 4%;
}
em.emright{
	margin-right: 4%;
	font-size: 1.4vw;
	color: whitesmoke;
	margin-bottom: 2.5%;
}
em.spc{
	margin: 0 auto 2.5% auto;
	font-size: 1.4vw;
	color: whitesmoke;
}
div.maint p{
	font-size: 1.2vw;
	color: lightgray;
	margin-top: 1.5%;
}
strong{
	filter: brightness(0.6);
	font-family: 'Gothic A1', sans-serif;
	font-size: 1.2vw;
}
em.sty{
	font-family: 'Heebo', sans-serif;
}