html{
	width: 100%;
	height: 100%;
}
body{
	width: content-box;
	height: 100%;
	background-color: #1B1D21;
}
/* mon en-tete start*/
header{
	width: content-box;
	height: content-box;
	border-bottom: solid 2px lightgrey;
	position: sticky;
	top: 0;	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	z-index: 5;
	background-color: #1B1D21;
}
div#hgauche{
	width: 35%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: flex-start;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 1px;
}
div#hdroite{
	width: 65%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	overflow: hidden;
}
img{
	width: 20%;
	height: 6vw;
	margin: 0 0 0 1.5%;
}
.tt{
	margin: 0 0 0 2%;
	font-size: 2.2vw;
	text-decoration: none;
	font-family: 'Lobster', cursive;
}
.white{
	color: whitesmoke;
}
header a{
	height: 100%;
}
div.liste{
	margin-right: 0;	
	width: content-box;
	height: content-box;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-end;
	white-space: nowrap;
}
div.liste .lt{
	font-size: 1.6vw;
	text-decoration: none;	
	margin: 0 0 0 1%;
	font-family: 'Vollkorn', serif;
}
img.ilt{
	width: 15%;
	height: 1.7vw;
	margin: 0 5%;
}
.ac{
	margin-top: auto;
	margin-bottom: auto;
}
	
img.iltt{
	width: 14%;
	height: 1.7vw;
	margin: auto 5% 0;
}	

img.ilttt{
	width: 13%;
	height: 1.7vw;
	margin: 0 3%;
}
img.iltttt{
	width: 27%;
	height: 1.7vw;
	margin: 0 5%;
}
a:hover{
	filter: invert(30%)
}

div.img{
	margin-right: 9%;	
	width: 100%;
}
/* mon en-tete end*/

/* Votre style et avis start*/
div.mainstyle{
	height: content-box;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
div.style{
	width: content-box;
}
div.ban{
	width: 5%;
	margin: 0 1.5% 0 1.5%;
	display: flex;
	align-content: center;
}
div.banie{
	background-color: whitesmoke;
	width: 100%;
	height: 2px;
	margin: auto 0;
}
.st{
	font-family: 'Eczar', serif;
	text-shadow: 5px 0 0 black;
	font-size: 2.3vw;
}
/* Votre style et avis end*/
/* galerie*/
div#galerimain{
	margin-top: 4vw;
	width: 100%;
	height: 65%;
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
}
div.sdmain{
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: row;

}
div.red{
	height: 100%;
	display: flex;
	flex-direction: column;
}
div.green{
	width: 100%;
	height: 33%;
	display: flex;
	flex-direction: row;
	margin-top: 3%;
}
/* taille des differente cologne princp.*/
.r1{
	width: 28%;
}
.r2{
	width: 20%;
}
.r3{
	width: 35%;
}
.r4{
	width: 17%;
}
/* taille des differente cologne princp.*/
/* taille des photos*/

.yellow{
	box-shadow: 5px 5px 5px black;
}

.y1{
	width: 80%;
	height: 25%;
	margin: 3% 0 5.5% 7%;
}
.y2{
	width: 90%;
	height: 40%;
	margin: 0.4% 0 5% 3%;
}
.y3{
	width: 90%;
	height: 20%;
	margin: 0.3% 2.5% 0.2% auto;
}

/* colone 2*/

.y4{
	width: 92%;
	height: 55%;
	margin: 8% 0 0.2% 0;
}
.y5{
	width: 85%;
	height: 34%;
	margin: 8% 0 0.2% auto;
}

/* colone 3*/

.y6{
	width: 95%;
	height: 34%;
	margin: 2% auto 0.2% auto;
}

/* grren*/
.y7{
	width: 45%;
	height: 95%;
	margin: 0 auto auto auto;
}
.y8{
	width: 38%;
	height: 88%;
	margin: auto auto 0 auto;
}
/* grren*/
.y9{
	width: 90%;
	height: 22%;
	margin: 6% 2.5% 0.2% auto;
}

/* colone 4*/

.y10{
	width: 90%;
	height: 90%;
	margin: 6% 4% 0.2% auto;
}
/* image*/
img.gal{
	max-height: 100%;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
	border: 2px solid #17181B;
}