html{
	width: 100%;
	height: 100%;
}
body{
	width: content-box;
	height: 100%;
	background-color: #1B1D21;
}
/* mon en-tete start*/
header{
	width: content-box;
	height: content-box;
	border-bottom: solid 2px lightgrey;
	position: sticky;
	top: 0;	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	z-index: 5;
	background-color: #1B1D21;
}
div#hgauche{
	width: 35%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: flex-start;
	white-space: nowrap;
	overflow: hidden;
}
div#hdroite{
	width: 65%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	overflow: hidden;
}
img{
	width: 90px;
	height: 80px;
	margin: 0 0 0 1.5%;
}
.tt{
	margin: 0 0 0 2%;
	font-size: 2.2em;
	text-decoration: none;
	font-family: 'Lobster', cursive;
}
.white{
	color: whitesmoke;
}
header a{
	height: 100%;
}
div.liste{
	margin-right: 0;	
	width: content-box;
	height: content-box;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-end;
	white-space: nowrap;
}
div.liste .lt{
	font-size: 1.5em;
	text-decoration: none;	
	margin: 0 0 0 0.4%;
	font-family: 'Vollkorn', serif;
}
img.ilt{
	width:1.5rem;
	height: 1.5rem;
	margin: 0 5%;
}
.ac{
	margin-top: auto;
	margin-bottom: auto;
}
	
img.iltt{
	width: 0.8rem;
	height: 1.5rem;
	margin: auto 5% 0;
}	

img.ilttt{
	width: 1.2rem;
	height: 1.5rem;
	margin: 0 3%;
}
img.iltttt{
	width: 1.2rem;
	height: 1.5rem;
	margin: 0 5%;
}
a:hover{
	filter: invert(30%)
}

div.img{
	margin-right: 8%;	
	width: 100%;
}
/* mon en-tete end*/

/* Votre style et avis start*/
div.mainstyle{
	height: content-box;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
div.style{
	width: content-box;
}
div.ban{
	width: 5%;
	margin: 0 1.5% 0 1.5%;
	display: flex;
	align-content: center;
}
div.banie{
	background-color: whitesmoke;
	width: 100%;
	height: 2px;
	margin: auto 0;
}
.st{
	font-family: 'Eczar', serif;
	text-shadow: 2px 0 0 black;
}
/* Votre style et avis end*/

/* Votre style et avis start*/
div.mainstyle{
	height: content-box;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
div.style{
	width: content-box;
}
div.ban{
	width: 5%;
	margin: 0 1.5% 0 1.5%;
	display: flex;
	align-content: center;
}
div.banie{
	background-color: whitesmoke;
	width: 100%;
	height: 2px;
	margin: auto 0;
}
/* Votre style et avis end*/

/* prise de rdv start*/
div#mainrdv{
	width: 100%;
	height: content-box;
	margin-top: 4rem;
	display: flex;
	justify-content: center;
}
div.form{
	border: thick double #8D2F11;
	background-color: #28292C;
}
div.form input{
	width: 20rem;
	height: 3rem;
	margin: 1rem;
	background-color: #2B2C2F;
	border: none;
	border-bottom: solid #4D4D4D;
	text-align: center;
	color: #999797;
	font-size: 1.5rem;
}
div.form input::placeholder{
	color: #999797;
}
div.form select{
	width: 9rem;
	height: 3rem;
	margin: 1rem;
	background-color: #2B2C2F;
	border: none;
	border-bottom: solid #4D4D4D;
	color: #999797;
	font-size: 1.2rem;
}
div.center{
	display: flex;
	justify-content: center;
	width: 100%;
	height: content-box;
}

input:invalid {
	border-bottom: solid #2C120A;
}

div#cont{
	width: 100%;
	height: 50%;
	justify-content: center;
	margin-top: 4rem;
	display: none;
}
div#confi{
	width: 40%;
	height: 70%;
	background-color: #17181B;
	border-radius: 50px;
	box-shadow: 5px 5px 5px black;
	border: 1px solid #8D2F11;
	display: flex;
	justify-content: center;
	align-content: center;
	text-overflow: ellipsis;
}

p#prend{
	font-size: 1.3rem;
	color: whitesmoke;
	margin: auto 0;
	border: none;
	text-align: center;
	font-family: 'Luxurious Roman', cursive;
}